.university-container{
    padding: 30px;
}
.cart{
    margin: 10px;
    border: 1px solid gray;
    padding: 10px;
    height: 600px;
}
.uni{
    background-color: blue;
    color: white;
    padding: 10px;
}